<h1>List of Ratings</h1>
<p> Total number of ratings: <%= @ratings.count %> </p>
<hr />
<!--
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating.to_s %> </li>
 <% end %>
</ul>
-->
<h4>Top 3 beers:</h4>
<%= render 'list', list: @top_beers %>

<h4>Top 3 breweries:</h4>
<%= render 'list', list: @top_breweries %>

<h4>Top 3 styles:</h4>
<%= render 'list', list: @top_styles %>

<h4>Top 3 activists:</h4>
<%= render 'list', list: @most_active %>

<h4>Last 5 ratings:</h4>
<%= render 'list', list: @last5ratings %>

<hr />
<%= link_to 'list of beers', beers_path %>

<br><br>

<%= link_to('New Rating', new_rating_path, class:'btn btn-outline-primary') %>
