<p id="notice"><%= notice %></p>

<h1>List of Ratings</h1>
<p> Total number of ratings: <%= @ratings.count %> </p>
<hr />
<!--
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating.to_s %> </li>
 <% end %>
</ul>
-->
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating.to_s %> <%= link_to rating.rated_by, user_path(rating.user_id) %> </li>
  <% end %>
</ul>

<%= link_to 'list of beers', beers_path %>

<br><br>

<%= link_to 'New Rating', new_rating_path %>
