<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @brewery.year %>
</p>

<p>
 <% @brewery.beers.each do |beer| %>
    <td><%= link_to beer.name, beer_path(beer) %></td>
 <% end %>
</p>

<% if @brewery.ratings.empty? %>
 Brewery has not yet been rated!
<% else %>
  <%= @brewery.average_rating %>
<% end %>

<br /><br />
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
