<h1>New Beer</h1>

<!--
<%= render 'form', beer: @beer %>
-->
<%= form_for(@beer) do |f| %>
  
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <label for="beer_name">Name</label>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <label for="beer_style">Style</label>
    <!-- <%= f.text_field :style %> -->
    <%= f.select :style, @styles %>
    </div>

  <div class="field">
    <label for="beer_brewery_id">Brewery</label>
    <%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :to_s) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', beers_path %>
